<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/ngunnawal.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <script src="/static/js/bootstrap.bundle.js"></script>
    {% block pageStyle %}
    {% endblock %}
    <style>

    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/static/images/NgunnawalCountryLogo.png">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="history.html">History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="gallery.html">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact Us</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/todo">Web App - Todo</a>
                </li>
                {% if user.is_anonymous %}
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Registration</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/reset_password">Reset Password</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div style="color:white">{{ user.name }}</div>
        <img class="img-fluid" src="/static/images/NgunnawalCountryBanner.png">

    </div>
</nav>

<div class="container-fluid"> <!-- Overall Layout -->
    <div class="row">
        <div class="col">
            <h1 style="text-align: center">{{ title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            {% block cellContent1 %}


            {% endblock %}
        </div>
        <div class="col-8">
            {% block cellContent2 %} {% endblock %}
        </div>
    </div>
    <div class="row">
        <div class="col text-highlighting">
            {% block cellContent3 %} {% endblock %}
        </div>
    </div>
</div>


</body>
</html>